*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f4f4f4;
    position: relative;
    line-height: 1.5;
}

header {
    text-align: center;
    margin: 1rem;
}

label {
    padding-top: 1rem;
}

.loginContainer {
    display: flex;
    gap: 3rem;
    max-width: 80%;
    flex-wrap: auto;
    margin: auto;
    justify-content: center;
}

.container {
    max-width: 80%;
    margin: auto;
    min-height: 10rem;
    display: flex;
}

.nes-dialog {
    margin: auto;
}

#loginSection,
#registerSection {
    min-width: 50%;
    margin: 4rem;
}

#quizSection,
#pastScoresSection,
#scoreSection {
    min-width: 70%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

#pastScores {
    max-height: 90vh;
    overflow-y: auto;
    padding: 0;
}

@media (max-width: 768px) {
    #quizSection {
        max-width: 90%;
        padding: 10px;
    }
}

.nes-btn {
    width: 100%;
    margin: 1rem auto;
    float: right;
    font-size: 14px;
    padding: 10px;
}

#actionButtons {
    min-width: 30%;
    justify-content: flex-end;
    max-width: fit-content;
    margin: 3rem;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-end;
    width: 100%;
}

.nes-text.is-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.nes-progress {
    margin-bottom: 1rem;
}